body {
    margin: 0;
    padding: 0;
    font-family:'Mulish';
   

/********  H E A D E R  *********/


}
.header {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
.container{
    width: 80%;/*
    border: 1px solid grey;
    background-color: rgb(254, 235, 227);*/
    margin: auto;
    margin-bottom: 75px;
}

.container-content {
    margin: auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-nav img {
    width: 56px;
    height: 48px;
}

.logo {
    display: flex;
    justify-content: space-between; 
}

.logo-image {
   display: flex;
   
}

.logo-text {
    margin-bottom: 40px;
    
}

.logo-text h1 {
    font-size: 36px ;
    color: #131318;
    font-weight: 800;
     
}

.logo-text span{
    font-size: 36px ;
    color: #FF5400;
    font-weight: 800;
}

.navFlex {
    display: none;
}

.menu-nav {
    
    justify-content: space-between;
}
.menu-nav ul {
    list-style-type: none;
    font-size: 18px;
    color: #424247;
}

.menu-nav ul span {
    color: #FF5400;
}

.menu-nav ul li {
    display: inline;
    padding: 10px 0px 0px 50px;
}

.header-content {
    background-image: url(../Resources/Images/HeaderPodPesteApa.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: auto;
    background-position: center;
    background-size: cover;
    
}

.header-content {
    object-fit: cover;
}

.background-image {
    object-fit: cover;
}

.header-shadow-border {
    overflow: hidden;
    
    
}
.header-content-shadow {
  background-image: url(../Resources/Images/Rectangle\ shadow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
  
}

.header-content h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 100px 0px 0px 0px;
    text-align: center;
    font-size: 4.6vw;
    font-weight: 800;
    color: white;
}

.paragraph1 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: white;
    padding: 0px 0px;
    margin-top: 0px;
    line-height: 1.7;
    margin-bottom: 45px;

}

.header-shadow-input {
    justify-content: center;
    border-radius: 16px;
    display: flex;
    margin-bottom: 110px;
   
}

.header-content-input {
    
    display: flex;
    justify-content: space-around;
    height: 52px;
    padding: 15px 20px 15px 20px;
    border-radius: 8px; 
    background-color: rgba(221, 221, 221, 0.3);
    
}

.header-content-input input::placeholder {
    border-radius: 8px;
    font-size: 16px;
    color: #c5c5c5;
    padding-left: 10px;
    width: 174px;
    font-weight: 500;
}

form {
    display: flex;
    gap: 25px;
    justify-content: center;
    
}

input[type="text"] {
    width: 174px;
    border: none;
    border-radius: 8px;
   
}

input::placeholder {
    background-color: transparent;
    font-weight: bold;
    
    
}

input[type="search"] {
    width: 174px;
    border-radius: 8px;
    background-color: #FF5400;
    border: none;
}


.Whenselection {
    display: flex;
    overflow:hidden;
    width: 174px;
    background: url("images/dropdown_arrow.png") no-repeat #fff 319px 2px;
    border-radius: 8px;
    align-items: center;
}

.Typeselection {
    
    display: flex;
    overflow:hidden;
    width: 174px;
    background: url("../Resources/Images/down-arrow.png") no-repeat #fff 319px 2px;
    border-radius: 8px;
    align-items: center;
    
}


select {
    border:0;
    background:transparent;
    height:52px;
    font-size: 16px;
    padding-left: 15px;
    border:1px solid #d8d8d8;
    width:180px;
    -webkit-appearance: none;
}

 .search-input {
    display: flex;
    border-radius: 8px;
    background-color: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 200;
    justify-content: center;
    align-items: center;
}

.search-input i {
    padding: 15px 10px 10px 0px;
    font-size: 20px;
}

/********  Section  1  *********/

.container-content-section1  {
    display: flex;
    justify-content: space-between;
}



.container-content-section1 h1 {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 3vw;
    font-weight: 800;
    color: #131318;
}

.container-content-section1 p {
    font-size: 16px;
    font-weight: 300;
    color: #131318;
    line-height: 1.5em;

}

.paragraph1 p {
    width: 35%;
    margin: auto;
}

.content-section1-left {
    width: 50%;
    align-items: flex-end;
    
}
.content-section1-left ul {
    padding: 0px 0px 0px 25px;
    line-height: 1.5em;
}

.content-section1-left li {
    margin-bottom: 15px;
}

.content-section1-right img {
    object-fit: cover;
    /*max-height: 38vw;*/
}

.section1-btn {
    display: flex;
    padding: 16px 25px;
    justify-content: center;
    width: 154px; 
    background-color: #FF5400;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
    
    
}

/********  S E C T I O N 2 ********/

.container-content-section2 {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.container-text {
    display: flex;
}

.containers2-text-box {
    width: 75%;
    margin: auto;
    text-align: center;
    /*border: 1px solid grey;*/
    margin-bottom: 20px;
}

.containers2-text-box h1 {
    font-size: 3vw;
    color: #131318;
    font-weight: 800;
}

.containers2-text-box p {
    font-size: 16px;
    line-height: 1.7em;
    color: rgba(19, 19, 24, 0.7);
    margin-bottom: 30px;
    padding: 0px 65px;
    
}

.container-images {

}

.images-row1 { 
    display: flex;
    gap: 1vw;
    margin-bottom: 20px;
    justify-content: space-around;
}

.images-row2 {
    display: flex;
    gap: 1vw;
    margin-bottom: 20px;
    justify-content: space-around;
}

.images-row3 { 
    display: flex;
    gap: 1vw;
    margin-bottom: 20px;
    justify-content: space-around;
}

.Maldives {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}

.Indonesia {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}

.Srilanka {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}

.North-America {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}

.Kashmir {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}

.Bangladesh {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}

.Bandarban {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}

.Maldives img {
    margin: auto;
    display: flex;
    height: 20vw;
}

.Indonesia img {
    margin: auto;
    display: flex;
    height: 20vw;
}

.Srilanka img {
    margin: auto;
    display: flex;
    height: 19vw;
}

.North-America img {
    margin: auto;
    display: flex;
    height: 19vw;
}

.Kashmir img {
    margin: auto;
    display: flex;
    height: 19vw;
}

.Bangladesh img {
    margin: auto;
    display: flex;
    height: 20vw;
}

.Bandarban img {
    margin: auto;
    display: flex;
    height: 20vw;
}


.centered-Maldives {
    
    position: absolute;
    top: 44%;
    left: 40%;
    }

.centered-Indonesia {
    position: absolute;
    top: 40%;
    left: 39%;
}

.centered-Srilanka {
    position: absolute;
    top: 44%;
    left: 35%;
}

.centered-NorthAmerica{
    position: absolute;
    top: 44%;
    left: 35%;
}

.centered-Kashmir{
    position: absolute;
    top: 44%;
    left: 30%;
}

.centered-Bangladesh{
    position: absolute;
    top: 44%;
    left: 33%;
}

.centered-Bandarban{
    position: absolute;
    top: 44%;
    left: 39%;
}


/* ********* section 3 ********* */

.containers3-text-box {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.containers3-text-box h1 {
    font-size: 3vw;
    color: #131318;
    font-weight: 800;
}

.containers3-text-box p {
    font-size: 16px;
    line-height: 1.7;
    color: rgba(19, 19, 24, 0.7);
    margin-bottom: 30px;
    padding: 0px 15vw; 
}

.images-row1-section3 { 
    
    display: flex;
    gap: 26px;
    margin-bottom: 26px;
    justify-content: center;
}

.images-row2-section3 {
    
    margin: auto;
    display: flex;
    width: 50%;
    margin-bottom: 26px;
    justify-content: center;
}

.Hotels {
    background-color: rgba(251, 181, 99, 0.1);
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    padding: 0px 30px 0px 30px;
}

.Service {
    background-color: rgba(41, 206, 246, 0.1);
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    padding:  0px 30px 0px 30px;
}

.Price {
    
    background-color: rgba(233, 68, 68, 0.1);
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    padding:  0px 30px 0px 30px;
}


.container-backgrounds img {
    margin-top: 25px;
}

.container-backgrounds h2 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 25px;
}

.Hotels p {
    font-size: 16px;
    color: rgba(90, 90, 93, 1);
    line-height: 1.5;
    margin-top: 0;
}

.Service p {
    font-size: 16px;
    color: rgba(90, 90, 93, 1);
    line-height: 1.5;
    margin-top: 0;
}

.Price p {
    font-size: 16px;
    color: rgba(90, 90, 93, 1);
    line-height: 1.5;
    margin-top: 0;
}


/* ********* section 4 ********* */


.containers4-text-box {
    margin: auto;
    text-align: center;
}

.containers4-text-box h1 {
    font-size: 3vw;
    color: #131318;
    font-weight: 800;
    
}

.containers4-text-box p {
    font-size: 16px;
    line-height: 1.7;
    color: rgba(19, 19, 24, 0.7);
    margin-bottom: 40px;
    padding: 0px 17vw; 
    
}

.container-image-top {
    background-image: url(../Resources/Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    margin-bottom: 30px;
}

.container-image-middle {
    background-image: url(../Resources/Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    margin-bottom: 30px;
}

.container-image-top-flex {
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

.container-text-top {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    width: 95%;
    padding: 45px 40px 40px 50px;
    align-items: center;
    
}

.container-text-top p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(90, 90, 93, 1);
    /*padding-right: 50px;*/
    line-height: 1.7;
}

.container-text-top-icons {
    display: flex;
}

.container-text-top-icons p {
    padding: 0px 25px 0px 10px;
    margin: 0;
}

.container-text-top h2 span {
    font-size: 20px;
    font-weight: 800;
    color: #FF5400;
}

.container-text-top-icons img {
    width: 24px;
    height: 24px;
    margin: 0;
}

.section4-btn {
    display: inline-block;
    background-color: #FF5400;
    padding: 15px 30px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.btn2-flex {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.section4-btn2 {
    display: inline-block;
    background-color: #FF5400;
    padding: 15px 24px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
}

/* ********* section 5 ********* */

.container-content-section5  {
    display: flex;
    justify-content: space-around;
   
}


.container-content-section5 h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    padding: 0px 100px 0px 0px;
    line-height: 1.6;

}

.container-content-section5 p {
    font-size: 16px;
    font-weight: 300;
    color: #131318;
    padding-right: 30px;
    line-height: 1.7;
}

.content-section5-left ul {
    width: 80%;
    line-height: 1.7;
}

.content-section5-left li {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}

.content-section5-right {

}

.section5-btn {
    display: inline-block;
    background-color: #FF5400;
    padding: 15px 50px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

/* ********* section 6 ********* */

.container-content-section6  {
    display: flex; 
    gap: 25px;
    justify-content: center;

}

.content-section6-left {
    width: 335px;
    padding: 20px 40px;
    border: 2px solid #FF5400;
    border-radius: 16px;
    line-height: 1.6;
    color: rgba(90, 90, 93, 1);
}

.content-section6-left h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.content-section6-left p {
        margin-top: 10px;
}

hr {
    margin: 0;
    border: 0.5px solid rgba(19, 19, 24, 0.05);
}


.content-section6-left input {
    display: flex;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background-color:rgba(19, 19, 24, 0.05) ;
    margin-top: 20px;
    border: none;
}

input::placeholder {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 200;
    color: rgba(19, 19, 24, 0.3);
}

::placeholder {
    padding-left: 20px;
    font-size: 40px;
}

.section6-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    background-color: #FF5400;
    padding: 10px 50px;
    border-radius: 8px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.content-section6-right {
    background-image: url(../Resources/Images/PhotoSave70.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    width: 820px;
    height: 422px;
    border-radius: 16px; 
    justify-content: flex-end;
    align-items: flex-end;
    
}

/********** F O O T E R **********/

footer {
    background-color: rgba(19, 19, 24, 0.05);
    height: 500px;
}

.footer-logo {
    display: flex;
    justify-content: center; 
}
.footer-logo img {
    width: 56px;
    height: 50px;
}
.footer-logo-image {
    margin-top: 100px;
    display: flex;
    margin-bottom: -20px;
}
.logo-text h1 {
    margin: 0;
    padding: 0px 15px 0px 15px;
}

.paragraph-footer {
    margin: auto;
}

.paragraph-footer p {
    margin: 0px 100px;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 300;
    color: rgba(90, 90, 93, 1);
    text-align: center;
}

.footer-icons {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.footer-icons i {
    display: inline-block;
    justify-content: center;
    padding: 10px;
    font-size: 23px;
}

p.footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}


@media screen and (max-width: 1425px) {
    .navFlex {
        display: block;
        font-size: 30px;
        margin-top: 5px;
    }

    .menu-nav {
        display: none;
    }

    .container-content-section1 {
        flex-direction: column;
        text-align: center;
        row-gap: 50px;
    }

    .content-section1-left {
        text-align: center;
        margin: auto;
    }

    .content-section1-left ul {
        margin: auto;
    }

    .section1-btn {
        margin: auto;
    }

    .content-section1-right {
        
    }

    .containers3-text-box {
        margin-bottom: 0px;
    }

    .container-content-section5 {
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .container-content-section5 h1 {
        padding: 0;
    }

    .container-content-section5 p {
        padding: 0;
    }

    .content-section5-left ul {
        margin: auto;
        line-height: normal;
    }

    .section5-btn {
        margin-top: 25px;
    }

    .content-section5-right {
        margin: auto;
        margin-top: 50px;
    }

    .content-section5-right img {
        
    }

}

    

@media screen and (max-width: 1250px) {
    
    .images-row1-section3 {
        display: flex;
        flex-direction: column;
    }

    .images-row2-section3 {
        display: flex;
        margin: auto;
    }

    .Hotels {
        width: 335px;
        margin: auto;
    }

    .Service {
        width: 335px;
        margin: auto;
    }

    .Price {
        width: 335px;
        margin: auto;
    }
    
    .container-content-section6 {
        flex-direction: column;
    }

    .container-content-section5 {
        flex-direction: column;
    }

    .content-section6-left {
        width: 60%;
        margin: auto;
    }

    .content-section5-left h1 {
        margin-top: 0;
        font-size: 3vw;
        width: 65%;
        margin: auto;
    }

    .content-section5-left {
        width: 65%;
        margin: auto;
        margin-top: 0;
    }

    .content-section5-right img {
        width: 100%;
        margin: auto;
        margin-top: 0;
    }

   

    .content-section6-right {
         margin: auto;
         background-position: center;
         border-radius: 16px;
    }

    .content-section6-right img {
        padding-right: 70px;
   }

    .content-section1-right {
   
}

.containers3-text-box {
    width: 75%;
}

.containers4-text-box h1 {
    margin-top: 0;
}

.container-image-top {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 0;
    margin-bottom: 50px;
}

.container-image-middle {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 0;
    margin-bottom: 50px;
}

.container-text-top {
    width: 90%;

}

}

@media screen and (max-width: 1150px) 
{
    .header-content p {
        margin-bottom: 20px;
    }
    
    .paragraph1 {margin-bottom: 25px;}

    .container-text-top {
        width: 70%;
        margin: auto;
    
    }
    .containers2-text-box h1 {
        margin-top: 0;
    }
    .content-section1-right {
        
    }

    .images-row1 {
       flex-direction: column;
       row-gap: 20px;
    }

    .images-row2 {
        flex-direction: column;
        row-gap: 20px;
    }
        
    .images-row3 {
        flex-direction: column;
        row-gap: 20px;
    }

    .Maldives {
        margin: auto;
    }

    .Indonesia {
        margin: auto;
    }

    .Srilanka {
        margin: auto; 
    }

    .North-America {
        margin: auto;
    }

    .Kashmir {
        margin: auto;
    }

    .Bangladesh {
        margin: auto;
    }

    .Bandarban {
        margin: auto;
    }

    .images-row2 img {
        margin: auto;
        width: 335px;
        height: 176px;
    }
    
    .images-row3 img {
        margin: auto;
        width: 335px;
        height: 176px;
        
    }
    
    .images-row1 img {
        margin: auto;
        width: 335px;
        height: 176px;
    }

   
.Maldives {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.Indonesia {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.Srilanka {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.North-America {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.Kashmir {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.Bangladesh {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.Bandarban {
    display: flex;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
} 

    .centered-Maldives {
        position: absolute;
        top: 48%;
        left: 40%;
        }
    
    .centered-Indonesia {
        position: absolute;
        top: 46%;
        left: 40%;
    }
    
    .centered-Srilanka {
        position: absolute;
        top: 44%;
        left: 41%;
    }
    
    .centered-NorthAmerica {
        position: absolute;
        top: 45%;
        left: 33%;
    }
    
    .centered-Kashmir {
        position: absolute;
        top: 44%;
        left: 39%;
    }
    
    .centered-Bangladesh {
        position: absolute;
        top: 45%;
        left: 38%;
    }
    
    .centered-Bandarban {
        position: absolute;
        top: 45%;
        left: 38%;
}

    .section1-btn {
    margin: auto;
    
}

}

@media screen and (max-width: 1150px) 
{
    .header-content-input {

        flex-direction: column;
        display: flex;
        justify-content: center;
        height: 280px;
    }
    form {

        flex-direction: column;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        padding: 5px 0px 0px 0px;
    }

    .header-content h1 {

        padding: 30px 0px 10px 0px;
        margin-bottom: 0px;
        font-size: 22px;
    }

    .header-content p {
        
    }

    .header-shadow-input {
        width: 100%;
        margin: auto;
        padding: 0px 0px 30px 0px;

    }

    .header-content-input form {
        width: 100%;  
        margin-bottom: 0px;
    }

    .paragraph1 {
        margin-bottom: 0;
        padding: 0; 
       }

    .paragraph1 p {
        width: 345px;   
    }

    input[type="text"] {
        height: 50px;
        width: 285px;
    }

    form .Whenselection {
        width: 285px;
    }

    form select {
        width: 285px; 
    }

    form .Typeselection {
        width: 285px; 
    }
    form .text {
        width: 285px;
    }
    .search-input {
        width: 285px;
        
    }

    .header-content {
        object-fit: cover;
    }

    .container-content-section5 {
        row-gap: 5px;
        overflow: visible;
        
    }

    .content-section5-right {
        margin-bottom: 0px;
        
    }

    .container-content-section5 img {
        width: 75%;
    }

    .container-content-section6 {
        margin-top: 25px;
        
    }

    .content-section6-left {
        
        width: 60%;
        margin: auto;
    }

    .content-section6-right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-position: right;
        width: 75%;
        
        
    }

    .content-section6-right img {
                
    }

    .images-row2-section3 {
        display: flex;
        margin: auto;
        padding: 0;
    }
    
        .Hotels {
            width: 335px;
            margin: auto;
        }
    
        .Service {
            width: 335px;
            margin: auto;
        }
    
        .Price {
            width: 335px;
            margin: auto;
            
        }

    }

